.Navbar {
    background-color: #CBFC56;
    display: flex;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #FC9749;
    text-decoration: none;
    justify-content: center;
  }

.Navbar__Items {
    display: inline-flex;
  }

.Navbar__Link {
    padding-right: 8px;
  }

a:link { 
    text-decoration: none;
    color: #FC9749;
    }

a:hover {
    background-color:#49E8FC;
    }

a:visited {
    color: #FC9749;
    }

.Navbar__Items--right {
    margin-left: auto;
    align-items: center;
    }

#Hero {
    background-color: #CBFC56;
    }


.container {
    display: grid;
    grid-template: "container";
    place-items: center;
    place-content: center;
    overflow: hidden;
    max-height: clamp(450px, 80vh, 900px);
    }

.container {
        grid-template: "container" 1fr;
      }

.container > * {
        grid-area: container;
    }

.container .image {
    width: 100vw;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    }

.container .image2 {
    width: 100vw;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    opacity:0.35;
    }

.Hero_text {
    z-index: 1;
    color: white;
    place-self: center left;
    margin-left: 50px;    
    }



 .Hero_button_container {
   z-index: 2;
   margin-top: 300px;
 }

.Hero_name {   
    font-family: Oswald; 
    font-weight: 700; 
    font-size: 4vw
}

.Hero_byline {
    font-family: Montserrat; 
    font-weight: 600; 
    font-size: 3vw 
}

.Hero_button {

    font-family: Montserrat, sans-serif;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #D97CFC;
    border-radius: 8px;
    border-color: #D97CFC;
    border-left: 400px

    }

.Hero_button:hover {
    background-color: #49E8FC;
    color: #FC9749;
    }

.Body_container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100vw;
    justify-content: center;
}

.Body_grid {
    background-color: #62EBFC;
    max-width: 1400px;
}



.body_sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}


.body_sections > * {
    background-color: white;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.6;
}

.body_header {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: auto auto;
    grid-column: span 2;
    align-items: center;
    justify-self: center;
    border-radius: 125px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 40px;
    
}

.body_image_container > img {
    filter: grayscale(100%);
    height: 175px;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.body_image_container {
    grid-row: span 2;
    height: 175px;
    padding: 10px
 
}

.body_image {
    height: 250px;
}
.body_title {
    font-family: Oswald; 
    font-size: 2.5rem;
    padding-left: 15px
}

.body_byline {
    font-family: Montserrat;
    font-weight: 600;
    padding: 15px
}

.body_image:hover {

    animation-name: example;
    animation-duration: 3000ms;
    filter: grayscale(0%);
    
}

@keyframes example {
    from {filter: grayscale(100%);}
    to {filter: grayscale(0%); width: 110%} 
  }

.body_button {
    font-family: Montserrat, sans-serif;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #D97CFC;
    border-radius: 8px;
    border-color: #D97CFC;
    z-index: 1;
    place-self: center left;
    }

.body_button:hover {
    background-color: #49E8FC;
    color: #FC9749;
    }

.about_me {
    grid-column-start: span 2;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
    
.current_projects {
    border-radius: 15px; 
    padding-left: 40px;
    padding-right: 40px;
}

.publications {
    border-radius: 15px; 
    padding-left: 40px;
    padding-right: 40px
}

    

#footer {
    background-color: #CBFC56;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
}

.footer_contact {
    font-weight: 600
}

.footer_images  {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10%;
    justify-content: center;
}

.footer_images img {
    width: 3vw;
    margin-top:20px;
    margin-bottom: 20px;

}

.copyright {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      align-items: center;
    }

    .Navbar__Items {
      flex-direction: column;

    }
    .Navbar__Items--right {
      margin-left:0;
    }

    .Navbar__Link {
        padding-top: 8px
    }

    .Hero_button_container {
        z-index: 2;
        margin-top: 150px;
      }
    .body_sections {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        background-color: 49E8FC;
    }

    .body_sections >* {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .body_header {

        border-radius: 60px;
        padding-left: 50px;
        padding-right: 50px;
        justify-items: center;
        border-left: 150px;
        border-right: 150px;

    }

    .Body_grid {
        background-color: #62EBFC;
        max-width: 100vw;
    }

    .body_image {
        min-width: 150px
    }
    
    .body_title {
        font-family: Oswald; 
        font-size: 6vw;
        padding-left: 5px
    }
    
    .body_byline {
        font-family: Montserrat;
        font-weight: 600;
        padding: 15px;
        font-size: 4vw;
    }
    .footer_content > *{
        font-size: 15px;
        
    }

  }



@media only screen and (max-width: 375px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }

 

    .Navbar__Items {
      display:none;
    }

    .Hero_button_container {
        display: none;
    }
    .Body_container {
    
        justify-content: center;
    }
    
    .body_sections > * {
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }
    
    .body_image_container {
        padding: 0px;
        width: 100px;

    }     
    
    .body_header {
        display: flex;
        align-items: center;
        border-radius: 15px;
            }
    .body_image {
        min-width: 75px;
            }

        }